# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# visual studio
.vs/
/out/build/x64-debug
/out/build/x64-debug/.cmake/api/v1
/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-debug/.cmake/api/v1/reply
